<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Orders</span>
                    <div class="text-900 font-medium text-xl">
                        {{ orderNumber }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"
                >{{ recentSales.length }}
            </span>
            <span class="text-500">Placed Orders</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Revenue This Year</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{ totalSold | currency : "USD" }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-dollar text-orange-500 text-xl"></i>
                </div>
            </div>

            <span class="text-green-500 font-medium"
                >{{ this.totalSoldThisMonth | currency : "USD" }}
            </span>
            <span class="text-500">This month | </span>

            <span class="text-green-500 font-medium"
                >{{ this.totalSoldLastMonth | currency : "USD" }}
            </span>
            <span class="text-500"> Last month</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Users</span>
                    <div class="text-900 font-medium text-xl">
                        {{ totalUsers }}
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-user text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"
                >{{ totalUsersThisMonth }}
            </span>
            <span class="text-500">Registered This Month | </span>
            <span class="text-green-500 font-medium"
                >{{ totalUsersLastMonth }}
            </span>
            <span class="text-500"> Registered Last Month</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3"
                        >Notifications</span
                    >
                    <div class="text-900 font-medium text-xl">
                        {{
                            unreadNotifications ? unreadNotificationsNumber : 0
                        }}
                        Unread
                    </div>
                </div>
                <div
                    class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
                >
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium"
                >{{ respondedNotifications }}
            </span>
            <span class="text-500">responded</span>
        </div>
    </div>

    <div class="col-12 xl:col-6" *ngIf="recentSales.length != 0">
        <div class="card">
            <h5>
                Orders in Placed Status
                <p-badge [value]="recentSales.length.toString()" />
            </h5>
            <p-table
                [value]="recentSales"
                [paginator]="true"
                [rows]="8"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Order ID <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">
                            Amount <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th>Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-order>
                    <tr>
                        <td style="width: 35%; min-width: 7rem">
                            {{ order.order }}
                        </td>
                        <td style="width: 25%; min-width: 7rem">
                            {{ order.fullname }}
                        </td>
                        <td style="width: 15%; min-width: 8rem">
                            {{ order.amount | currency : "USD" }}
                        </td>
                        <td style="width: 25%">
                            {{ order.date | date }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Sales by month</h5>
            <p-chart
                type="bar"
                [data]="chartData"
                [options]="chartOptions"
            ></p-chart>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="flex justify-content-between align-items-center mb-5">
                <h5>Best Selling Products (Top 5)</h5>
                <!-- <div>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain"
                        (click)="menu.toggle($event)"
                    ></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div> -->
            </div>
            <ul class="list-none p-0 m-0">
                <li
                    *ngFor="let product of bestSellers"
                    class="flex flex-column md:flex-row md:align-items-center md:justify-content-between mb-4"
                >
                    <div>
                        <span class="text-900 font-medium mr-2 mb-1 md:mb-0">{{
                            product.name
                        }}</span>
                        <div class="mt-1 text-600">{{ product.reference }}</div>
                    </div>
                    <div class="mt-2 md:mt-0 flex align-items-center">
                        <span class="text-orange-500 ml-3">{{
                            product.count
                        }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-12 xl:col-6">
        <div class="card">
            <div class="flex align-items-center justify-content-between mb-4">
                <h5>
                    <i class="pi pi-inbox text-xl text-blue-500"></i>
                    Notifications
                </h5>
                <!-- <div>
                    <button
                        pButton
                        type="button"
                        icon="pi pi-ellipsis-v"
                        class="p-button-rounded p-button-text p-button-plain"
                        (click)="menu.toggle($event)"
                    ></button>
                    <p-menu #menu [popup]="true" [model]="items"></p-menu>
                </div> -->
            </div>

            <span class="flex text-600 font-medium mb-3"
                >Unread |
                <p
                    style="width: 10px; height: 10px"
                    class="bg-red-100 mx-2"
                ></p>
                Order Manageent notifications</span
            >
            <p-table
                [value]="unreadNotifications"
                [paginator]="true"
                [rows]="4"
                responsiveLayout="scroll"
            >
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="name">
                            Id <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Name <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="name">
                            Subject <p-sortIcon field="name"></p-sortIcon>
                        </th>
                        <th pSortableColumn="price">
                            Topic <p-sortIcon field="price"></p-sortIcon>
                        </th>
                        <th>Date</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-notification>
                    <tr
                        [class]="
                            notification.subject == 'Order Management'
                                ? 'bg-red-100'
                                : null
                        "
                    >
                        <td style="width: 5%; min-width: 7rem">
                            {{ notification.id }}
                        </td>
                        <td style="width: 25%; min-width: 7rem">
                            {{ notification.fullname }}
                        </td>
                        <td style="width: 20%; min-width: 7rem">
                            {{ notification.subject }}
                        </td>
                        <td style="width: 30%; min-width: 8rem">
                            {{ notification.topic }}
                        </td>
                        <td style="width: 20%">
                            {{ notification.date | date }}
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>
