input[type="file"] {
    display: none;
}

.custom-file-upload {
    position: relative;
    margin-right: 10px;
}
.cursor-pointer {
    cursor: pointer;
}
.popups {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    cursor: pointer;
    transition: all 0.5s;
}
.popups:hover {
    background-color: var(--primary-color);
    color: white;
}
.position-relative {
    position: relative;
}
.product-list {
    overflow-x: hidden;
    height: 500px;
}
.w-100 {
    width: 100% !important;
}
